@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Archivo:ital,wght@0,100..900;1,100..900&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: "Roboto Slab", serif; */
/* font-family: "Archivo", sans-serif; */
/* font-family: "Exo ", sans-serif; */
/* font-family: "Montserrat Alternates", sans-serif; */
/* font-family: "Advent Pro", sans-serif; */

body{
    font-family: "Archivo", sans-serif; 
    
}

.main-div{
    background: linear-gradient(to bottom right, #4b2765, #441854);
    
}

.wrapper{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}

@tailwind base;
@tailwind components;
@tailwind utilities;